<div *ngFor="let taskItem of columnTasks" class="card mb-3">
    <div class="card-body column-task cursor-pointer" role="button" (click)="openModal(taskItem)">
        <h6>{{taskItem.title}}</h6>
        <p class="checklist text-small" style="font-size: smaller;" *ngIf="taskItem.subTasks; else noSubTasks">
            {{ taskItem | completedTasks }} of {{taskItem.subTasks.length}} subtasks
        </p>
        <ng-template #noSubTasks>
            <p>No subtasks</p>
        </ng-template>
    </div>
</div>
<app-modal [taskToEdit]="onOpenModal.asObservable()"></app-modal>