<app-navbar class="w-100"></app-navbar>
<div class="container-fluid py-4 vh-100">
    <div class="d-flex justify-content-between">
        <app-column class="column-item" style="max-width: 250px; min-width: 150px;"
            *ngFor="let item of columns"
            [column]="item">
        </app-column>
        <button class="btn w-100 bg-light align-items-stretch ms-2"  style="min-height: calc(100vh - 10vh);" data-bs-toggle="modal" data-bs-target="#newColumn">+ New Column</button>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="newColumn" aria-labelledby="newColumnLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new column</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="addColumn(f)">
                    <div class="input-group mb-3">
                        <label class="label me-3">Name of Column</label>
                        <input type="text" class="form-control" placeholder="Column name" aria-label="Column name" name="columnName"  ngModel/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Add column</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>